{% extends "catalog/base.html" %} 
{% load crispy_forms_tags %} 
{% load crispy_forms_filters %} 
 
{% block content %} 
    <!-- mjl 7/31/2024 this if logic seems to not allow Customer Group users accees -->
    <!--% if perms.catalog.create_orderline or perms.catalog.edit_orderline %} --> 
        <form action="{% url 'orderline_create' %}" method="POST"> 
        <!--field_order = ['order_id','order_line_number','product_id','order_quantity_requested','order_notes']-->
            <!--{{ from.as_p }}  mjl 7/30/2024 used in online searches as paragraph formatting -->
            {% csrf_token %} 
            {{ form|crispy }} 
         
            <input type="submit" value="Submit"/> 
        </form> 
    <!--% else %} 
        You do not have permission to access this feature 
        <a href="{% url 'index' %}">About Us</a> 
    % endif %} -->
    <p></p>
    <a href="{% url 'order_list' %}">Done</a> 
{% endblock %} 